{% include "header.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title></title>
</head>

<body>
  <div class="container">
    <h1 align='center'>{{ headername }}</h1>
    <h2 align='right'>{{ session["name"] }}</h2>
    <button type="button" class="btn btn-danger"> <a href="/logoff">Logout</a></button>
    <br>
    <form  action="{{ url_for('member.showwithsex') }}" method="post">
      <div class="form-row align-item-center">

        <div class="col">
          <input type="date" class="form-control" name="dtstart" required>
        </div>

        <div class="col">
          <input type="date" class="form-control" name="dtend" required>
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-primary" >แสดข้อมูล</button>
        </div>
        <div class="col-auto">
          <a href="/showmember" class="btn btn-success" >แสดงข้อมูลทั้งหมด</a>
        </div>

      </div>
    </form>
    <br>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">นามสกลุ</th>
          <th scope="col">เพศ</th>
          <th scope="col">วันเกิด</th>
          <th scope="col">อีเมลล์</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row.0 }}</td>
          <td>{{ row.1 }}</td>
          <td>{{ row.2 }}</td>
          <td>{{ row.3 }}</td>
          <td>{{ row.4 }}</td>
          <td>{{ row.7 }}</td>
          <td>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal{{row.0}}">Edit</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal{{row.0}}">Delete</button>
          </td>
        </tr>
        <!-- Modal Delete-->
        <div class="modal fade" id="confirmModal{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">คุณต้องการลบข้อมูล</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="{{ url_for('member.delmember') }}" method="post">
              <div class="modal-body">
                <h3>คุณต้องการลบข้อมูลของ {{ row.1 }} ใช่หรือไม่? </h3>
                <input type="hidden" name="id" value="{{row.0}}">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">ยืนยัน</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Edit -->
        <div class="modal fade" id="exampleModal{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{{ url_for('member.Editmember') }}" method="post" enctype="multipart/form-data">

                  <div class="form-group">
                    <input type="hidden" class="form-control" value="{{ row.0 }}" name="ID">
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">ชื่อ:</label>
                    <input type="text" class="form-control" value="{{ row.1 }}" name="FNAME">
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">นามสกุล:</label>
                    <input type="text" class="form-control" value="{{row.2}}" name="LNAME">
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">เพศ:</label>
                    <select class="custom-select" id="inputGroupSelect02" name="SEX">
                      {% if row.3 == "ชาย" %}
                      <option value="ชาย" name="SEX" selected>ชาย</option>
                      <option value="หญิง" name="SEX">หญิง</option>
                      {% else %}
                      <option value="ชาย" name="SEX">ชาย</option>
                      <option value="หญิง" name="SEX" selected>หญิง</option>
                      {% endif %}
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">วันเกิด:</label>
                    <input type="date" class="form-control" value="{{row.4}}" name="BDATE">
                  </div>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">อีเมลล์:</label>
                    <input type="text" class="form-control" value="{{row.5}}" name="EMAIL">
                  </div>

                  <div class="form-group">
                    <input type="file" name="imagemem" accept="image/x-png,image/gif,image/jpeg" onchange="readURL(this , {{row.0}});">
                    <img id="blah_{{row.0}}" src="{{row.7}}" alt="" class="img-thumbnail" />
                  </div>

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </tbody>
    </table>
    <a href="/adddatamember" class="btn btn-success">Insert</a>

  </div>

  <script>
    function readURL(input , id){

      if (input.files && input.files[0]) {
        console.log(input.files[0]);
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#blah_'+id).attr('src',e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
{% include "footer.html" %}
